.categoryTab {
  padding: 10px 5px;
  text-align: center;
  font-size: 14px;
}

.categoryTab {
  padding: 12px 16px 13px;

  &:not(:last-child) {
    border-right: 1px solid rgba(#727c87, 0.2);
  }
}

.categoryTabs,
.categoryTab {
  display: inline-block;
  vertical-align: middle;
}
